# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/MultiScaleTrajectories/obj/
/MultiScaleTrajectories/bin/
/MultiScaleTrajectories/Properties/
/packages/
*.config